# ============ MySQL ============
MYSQL_ROOT_PASSWORD=rootPassword123!
MYSQL_DB=auth_db
MYSQL_USER=app_user
MYSQL_PASSWORD=appPassword123!

# ============ Oracle ============
ORACLE_PASSWORD=oraclePassword123!
ORACLE_USER=products_user
ORACLE_APP_PASSWORD=productsPass123!

# ============ SQL Server ============
SQLSERVER_PASSWORD=SqlServer123!

# ============ JWT ============
JWT_SECRET=bXlTZWNyZXRLZXlGb3JKV1RUb2tlbkdlbmVyYXRpb25NdXN0QmUyNTZCaXRzTG9uZyEh

# ============ Jasypt ============
JASYPT_PASSWORD=masterEncryptionKey2024

# ============ Mail (Gmail) ============
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu-correo@gmail.com
MAIL_PASSWORD=tu-app-password-de-16-caracteres
